.navBar {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    height: 10vh;
    width: 50vw;
    position: absolute;
    top: 30vh; 
    left: 50%;
    transform: translateX(-50%); 
  }
    
.active {
    background-color: #58355e67;;
    font-size: 1.2rem;
    font-weight: 700;
}
  

h2 {
    margin-top: 8vh;
    font-size: 2rem;
    color: #39233d;
    text-align: center;
}
