*,
*::before,
*::after {
    box-sizing: border-box;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
    width: 100%;
    overflow: hidden; 
}

.label {
    margin-bottom: 5px; 
    font-size: 1rem;
    color: #333;
}

.input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 1rem;
}

.input:focus {
    border-color: #007BFF; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
